<div class = "content">
    <div class = "topHeader">
        <span class = "text-header">Python Projects</span><br>
        <span class = "text-header-description">This page is to showcase my python projects I have done both in a recreational and educational environment.<br>
            On the <b>Left Side</b>, it will demonstrate my personal projects, which although small<br> 
            it is something I wanted to experiment in order to share to other people such as my friends<br>
            As being an unknown publisher, my work failed as my friend's antivirus would detect it as malware and delete my products off their computer.<br>
            On the <b>Right Side</b>, are projects I have done as class work.
        </span>
    </div>
    <div class = "gridBox">
        <div class = "leftBox">
            <span class = "text-header">Personal Projects</span><br>
        </div>
        <div class = "rightBox">
            <span class = "text-header">Educational Projects</span><br>
        </div>
    </div>
</div>
