<!DOCTYPE html>
<html>
<head>
<title>Katiana's Resume</title>
<meta charset="UTF-8">
</head>

<div class = "content">
    <!-- Left Side -->
    <div class="image-container">
    <!-- Image Box -->
      <div class = "image-box">
        <img class = "image" src = "../../assets/images/resumePhoto.JPG" alt="Avatar">
        <div class= "image-label">
        <h2 class = "nameBox">Katiana Sourn</h2>
        </div>
      </div>
    <!-- Information Box -->
      <div class = "info">
        <div class = "small-box info">
            <div class = "small-item">
                <img class = "icon" src = "../../assets/icons/suitcase.ico" alt="Work">
                <span class = "icon-text">Software Engineer</span>
            </div>
            <div class = "small-item">
                <img class = "icon" src = "../../assets/icons/home.ico" alt="House">
                <span class = "icon-text">Lowell, MA</span>
            </div>
            <div class = "small-item">
                <img class = "icon" src = "../../assets/icons/email.ico" alt="Email">
                <span class = "icon-text">katiana.v.sourn&#64;gmail.com</span>
            </div>
            <div class = "small-item">
                <img class = "icon" src = "../../assets/icons/phone.ico" alt="Phone">
                <span class = "icon-text">1 (978)-995-4300</span>
            </div>
        </div>
    </div>
    <!-- Skills Box -->
        <div class = "skills">
          <div class = "small-box skills">
              <div class = "small-item">
                  <img class = "icon" src = "../../assets/icons/skills.ico" alt="Skills">
                  <span class = "icon-subheader">Skills</span>
              </div>
              <div class = "small-item">
                <img class = "icon" src = "../../assets/icons/skills.ico" alt="Skills">
                <span class = "icon-text">Operating Systems</span>
            </div>
            <p>Linux, Windows</p>
            <div class = "small-item">
              <img class = "icon" src = "../../assets/icons/skills.ico" alt="Skills">
              <span class = "icon-text">Languages</span>
          </div>
          </div>
      </div>
    </div>
    
    

    
    <!-- Right Side -->
    <div class ="other-container">
      <!-- Work Experience Box -->
      <div class = "work">
        <div class = "big-box">
            <div class = "big-box-grid">
                <div class = "big-header">
                    <img class = "icon-header" src = "../../assets/icons/suitcase.ico" alt="Work">
                    <span class = "icon-header-text">Work Experience</span>
                </div>
                <div class = "left-box">
                    <img class = "icon-frt" src = "../../assets/icons/frt.svg" alt="FRT">
                    <p class = "left-description">Financial Recovery Technology is a fintech company that specializes in Class Action Litigations. 
                        The company has viewed me as a valuable asset, allowing me to partake in multiple departments which solidifes my understand of how the company works together as a unit; 
                        it also displays that communication and cooperation is always needed to succeed</p>
                    <!-- List of Titles -->
                    <div class = "left-item">
                        <img class = "icon" src = "../../assets/icons/program.ico" alt="Programming">
                        <span class = "icon-subheader">Technical Intern</span>
                        <span class = "icon-date">June 2024 - August 2024</span>
                    </div>
                        <p class = "left-description">Tools: Git, AzureDevOps, Javascript, Typescript, Angular, NodeJS, HTML, CSS, Linux, Shell, Oracle SQL</p>
                        <p class = "left-description">Collaborate with cross functional teams to design, update or implement new features. Managing front end, back end and database codebase.</p>
                    <!-- -->
                    <div class = "left-item">
                        <img class = "icon" src = "../../assets/icons/dataentry.ico" alt="Data Entry">
                        <span class = "icon-subheader">Compliance Intern</span>
                        <span class = "icon-date">September 2024 - November 2024</span>
                    </div>
                        <p class = "left-description">Tools: Word, Outlook, Skematic</p>
                        <p class = "left-description">Compliance data entry regarding side letters and other terms of contracts</p>
                    <!-- -->
                    <div class = "left-item">
                        <img class = "icon" src = "../../assets/icons/finance.ico" alt="Finance">
                        <span class = "icon-subheader">Finance Associate</span>
                        <span class = "icon-date">November 2024 - Present</span>
                    </div>
                        <p class = "left-description">Tools: Excel, Microsoft GP, Salesforce, Concur Solutions</p>
                        <p class = "left-description">Analyzing and Organizing data for Tax preparation and Vendor Management, assist in expense reports and support other account payable operations</p>
                </div>
                <div class = "right-box">
                    <div class = "right-item">
                        <img class = "icon" src = "../../assets/icons/bakery.ico" alt="Bakery">
                        <span class = "icon-subheader">Baker and Barista</span>
                        <span class = "icon-date">June 2024 - August 2024</span>
                    </div>
                      <p class = "left-description">Tools: ToastTab Interface</p>
                      <p class = "left-description">Providing excellent service, d</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Education Box -->
    <div class = "edu">
      <div class = "big-box">
          <div class = "big-box-grid">
              <div class = "big-header">
                  <img class = "icon-header" src = "../../assets/icons/education.ico" alt="Education">
                  <span class = "icon-header-text">Education</span>
              </div>
              <div class = "left-box">
                  Community College
              </div>
              <div class = "right-box">
                  University
              </div>
          </div>
      </div>
  </div>
    </div>
</div>
<!--
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex&#64;mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Adobe Photoshop</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Photography</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Illustrator</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Media</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Spanish</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
          </div>
          <p>German</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div><br>
    </div>

    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
          <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>Web Development! All I need to know in one place</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>London Business School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
          <p>Master Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>School of Coding</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
          <p>Bachelor Degree</p><br>
        </div>
      </div>

    </div>
    
  </div>
  
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

</body>
-->
</html>