<div class = "header-box">
    <div class = "text-box">
        <p class = "career-desc">Full-Stack Software Engineer</p>
        <h2 class = "top-header">Hello World! My name is<br></h2>
        <h1 class = "myName">Katiana Sourn<br></h1>
        <p class = "desc">I love to learning new skills and techniques! I speak and code in multiple languages.<br>My hobbies include gaming, programming, reading and cooking</p>
    </div>
    <div class = "image-box">
        <img class = "bigMe" src = "../../assets/images/FinalsMe.JPG" alt="Big Me">
        
        <img class = "littleMe" src = "../../assets/images/littleme.jpg" alt="LittleMe">
    </div>
</div>

<div class = "content">
    
</div>
